$font-title: "Oswald", sans-serif;
$font-body: "Arial", sans-serif;

$black: #000000;
$white: #FFFFFF;

$basic_green: #68B738;

$basic_grey: #F2F2F2;
$special_grey: #CDCDCD;
$special_dark_grey: #444444;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;



