.add-catalog__title {
  margin-block: 25px 36px;
  font-family: $font-title;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.add-catalog__block {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 80px;
  }
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-catalog__item {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}