.add-catalog__wrapper {
  inline-size: 320px;
  margin-inline: auto;
  padding: 20px;
}

.add-catalog__title {
  font-family: $font-title;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}