.add-product__title {
  font-family: $font-title;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.add-product__list {
  line-height: 1;
  color: $special_dark_grey;
}