.application__wrapper {
  @media (min-width: $tablet-width) {
    padding-inline-start: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-inline-start: 0;
  }
}
.application__text {
  margin-block: 0 39px;
  font-family: $font-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}