.contacts {
  position: relative;
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    z-index: 0;
    min-block-size: 400px;
    display: grid;
    grid-template-columns: 1220px;
    justify-content: center;
    align-items: center;
    padding-block-end: 12px;
  }
}

.contacts__wrapper {
  inline-size: 280px;
  margin-inline: auto;
  padding-block: 26px;
  display: flex;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    inline-size: 708px;
    padding-inline: 40px;
    padding-block: 56px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;    
    inline-size: 565px;
    margin-inline: 0 auto;
    padding-inline: 80px;
    background-color: $white;
  }
}

.contacts__title {
  margin-block: 0;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-block: 4px 5px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__adress {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    gap: 21px;
    margin-block-start: 4px;
  }
}

.contacts__text {
  line-height: 20px;
  font-style: normal;
  color: $special_dark_grey;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

}

.contacts__map {
  display: block;
  inline-size: 100%;
  block-size: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    block-size: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    inset: 0;
  }
}