

.contacts__adress {
  padding-inline: 20px;
  padding-block: 26px;  
}

.contacts__title {
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__text {
  line-height: 20px;
  font-style: normal;
  color: $special_dark_grey;
}