.contacts {
  position: relative;
  
}
.contacts__wrapper {
  inline-size: 280px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  

  @media (min-width: $tablet-width) {
    inline-size: 708px;
    padding-inline: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 280px;
    margin-block-start: -280px;
    left: 0;
    inline-size: 565px;
    margin-inline-start: 110px;
    padding-inline: 80px;
    z-index: 1;
    background-color: $white;
  }
}

.contacts__title {
  margin-block: 26px;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-block: 60px 56px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__adress {
  display: flex;
  flex-direction: column;
  margin-block: 26px;
  
  @media (min-width: $tablet-width) {
    gap: 21px;
    margin-block: 56px 62px;
  }
}

.contacts__text {
  line-height: 20px;
  font-style: normal;
  color: $special_dark_grey;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

}

.contacts__map {
  position: relative; 
}

.contacts__img {
  inline-size: 100%;
}

.contacts__pin {
  position: absolute;  
  top: 100px;
  left: 0;
  z-index: 1;
}