.control {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline-start: 46px;

  @media (min-width: $tablet-width) {
    padding-inline-start: 60px;
  }
}

.control__mark {
  position: absolute;
  left: 0;
  inline-size: 30px;
  block-size: 30px;
  border: 1px $special_grey solid;

  @media (min-width: $tablet-width) {
    inline-size: 40px;
    block-size: 40px;
  }
}

.control:hover .control__mark {
  border-color: #BABABA;
}

.control:disabled .control__mark {
  opacity: 0.3;
}

.control__input[type="radio"]+.control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  border-radius: 50%;
  inline-size: 14px;
  block-size: 14px;
  border-radius: 50%;
  background-color: $basic_green;

  @media (min-width: $tablet-width) {
    inline-size: 18px;
    block-size: 18px;
    top: 10px;
    left: 10px;
  }
}

.control:disabled .control__mark::before {
  opacity: 0.3;
}

.control__input[type="checkbox"]:checked+.control__mark::before,
.control__input[type="checkbox"]:checked+.control__mark::after {
  position: absolute;
  content: "";
  inline-size: 2px;
  background-color: $basic_green;
}

.control__input[type="checkbox"]:checked+.control__mark::before {
  top: 12px;
  left: 8px;
  block-size: 11px;
  transform: rotate(-40deg);

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 13px;
    block-size: 12px;
  }
}

.control__input[type="checkbox"]:checked+.control__mark::after {
  top: 7px;
  left: 16px;
  block-size: 17px;
  transform: rotate(40deg);

  @media (min-width: $tablet-width) {
    top: 8px;
    left: 23px;
    block-size: 20px;
  }
}

.control__label {
  padding-block: 6px;
  font-family: $font-title;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    padding-block: 5px;
    font-size: 20px;
    line-height: 30px;
  }

  &:disabled {
    color: #BABABA;
    opacity: 0.3;
  }
}