.features__wrapper {
  inline-size: 320px;
  margin-inline: auto;
  padding: 20px;
}

.features__title {
  font-family: $font-title;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $special_dark_grey;
}

