.main-index {
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      inline-size: 100%;
      block-size: 2px;
      background-color: #D9D9D9;
    }
  }
}

.main-index__title {
  position: relative;
  margin-block: 27px 41px;  
  font-family: $font-title;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}