.main-catalog {
  padding-block-start: 4px;

  @media (min-width: $tablet-width) {
    padding-block-start: 28px;
  }
}

.main-catalog__wrapper {
  inline-size: 320px;
  margin-inline: auto;

  @media (min-width: $tablet-width) {
    inline-size: 708px;
  }

  @media (min-width: $desktop-width) {
    inline-size: 1220px;
  }
}

.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}

