.promo {
  background-color: $basic_green;
  background-image: url("../../img/promo.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  

  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
  }  
}

.promo__wrapper {
  padding: 20px;
  text-align: center;  
  color: $white;
  font-family: $font-title;
  
  @media (min-width: $tablet-width) {    
    inline-size: 768px;       
    margin-inline: auto;
    padding-inline: 30px;
  }

  @media (min-width: $desktop-width) {
    inline-size: 1440px;
    padding-inline: 110px;
    background-image: url("../../img/promo.jpg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 696px auto;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $tablet-width) {   
    text-align: start; 
    font-size: 60px;
    line-height: 1;
    color: $black;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 1;
  @media (min-width: $tablet-width) {  
    text-align: start;  
    font-size: 20px;
    line-height: 1;
    color: $black;
  }
}

.promo__img {
  @media (min-width: $desktop-width) {
  position: absolute;
  top: 100px;
  }
}

