.social {
  display: flex;
  justify-content: space-between;
  padding-inline: 73px 81px;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-inline-start: 110px;
    gap: 25px;
  }
}

.social__link--vkontakte .social__icon {
  @media (min-width: $tablet-width) {
    inline-size: 30px;
    block-size: 22px;
  }
}

.social__link--instagram .social__icon {
  @media (min-width: $tablet-width) {
    inline-size: 23px;
    block-size: 23px;
  }
}

.social__link--facebook .social__icon {
  @media (min-width: $tablet-width) {
    inline-size: 28px;
    block-size: 33px;
  }
}

.social__icon {
  fill: #666666;
}

.social__link:hover .social__icon {
  fill: $basic_green;
}

.social__link:active .social__icon {
  fill-opacity: 0.3;
}

.social__link--facebook .social__icon {
  fill: none;
  stroke: #666666;
}

.social__link--facebook:hover .social__icon {
  fill: none;
  stroke: $basic_green;
}

.social__link--facebook:active .social__icon {
  opacity: 0.3;
}