.switcher {
  inline-size: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switcher__button {
  border: none;
  background-color: inherit;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.switcher__toggles {
  inline-size: 86px;
  block-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 13px;
  margin-block: 8px;
  padding-inline: 6px;
  padding-block: 4px;
  border: 1px $special_grey;
  border-radius: 6px;
  background-color: $white;
}

.switcher__toggle {
  inline-size: 36px;
  block-size: 6px;
  border: 1px transparent solid;
  border-radius: 6px;
  background-color: $basic_green;
}

.switcher__toggle--after {
  position: relative;
  left: 36px;
}