@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswaldregular.woff") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  background-color: #68B738;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-block-size: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  background-color: #FFFFFF;
  color: #000000;
}

.page-header {
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .page-header {
    padding-inline: 30px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    padding-inline: 110px;
  }
}

.page-header__nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-header__nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    inline-size: 174px;
  }
}
@media (min-width: 1440px) {
  .page-header__wrapper {
    inline-size: 202px;
  }
}

@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-nav {
    inline-size: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    inline-size: 478px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link {
  color: inherit;
  text-decoration: none;
}

.main-index__title {
  padding-inline: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.promo {
  background-color: #68B738;
  background-image: url("../../img/promo.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .promo {
    background-color: #FFFFFF;
    background-image: none;
  }
}

.promo__wrapper {
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .promo__wrapper {
    inline-size: 768px;
    margin-inline: auto;
    padding-inline: 30px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    inline-size: 1440px;
    padding-inline: 110px;
    background-image: url("../../img/promo.jpg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 696px auto;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__title {
    text-align: start;
    font-size: 60px;
    line-height: 1;
    color: #000000;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__slogan {
    text-align: start;
    font-size: 20px;
    line-height: 1;
    color: #000000;
  }
}

@media (min-width: 1440px) {
  .promo__img {
    position: absolute;
    top: 100px;
  }
}

.programs__wrapper {
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .programs__wrapper {
    inline-size: 768px;
    margin-inline: auto;
    padding-inline: 30px;
  }
}
@media (min-width: 1440px) {
  .programs__wrapper {
    inline-size: 1440px;
    padding-inline: 110px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .programs__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .programs__list {
    flex-direction: row;
    gap: 80px;
  }
}

.programs__item {
  background-color: #F2F2F2;
  border: 0px #D9D9D9 solid;
}
@media (min-width: 1440px) {
  .programs__item {
    inline-size: 570px;
  }
}

.programs__title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programs__title {
    font-size: 36px;
    line-height: 1;
  }
}

.programs__description {
  color: #444444;
}
@media (min-width: 768px) {
  .programs__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
@media (min-width: 768px) {
  .programs__button {
    font-size: 20px;
    line-height: 30px;
  }
}

.features__wrapper {
  padding: 20px;
}
@media (min-width: 768px) {
  .features__wrapper {
    inline-size: 768px;
    margin-inline: auto;
    padding-inline: 30px;
  }
}
@media (min-width: 1440px) {
  .features__wrapper {
    inline-size: 1440px;
    padding-inline: 110px;
  }
}

.features__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 1;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #444444;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example {
  background-color: #EAEAEA;
}

.example__wrapper {
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .example__wrapper {
    inline-size: 768px;
    margin-inline: auto;
    padding-inline: 30px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    inline-size: 1440px;
    display: flex;
    padding-inline: 110px;
  }
}

@media (min-width: 1440px) {
  .example__info {
    inline-size: 436px;
    display: flex;
    flex-direction: column;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 1;
  }
}

.example__text {
  color: #444444;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .example__stats {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__stats {
    flex-direction: column;
  }
}

.example__list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .example__list {
    gap: 42px;
  }
}

.example__item {
  inline-size: 124px;
  text-align: center;
}
@media (min-width: 768px) {
  .example__item {
    inline-size: 162px;
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  margin: 0;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  color: #444444;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 14px;
    line-height: 1;
  }
}

.example__cost {
  text-align: center;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: 1440px) {
  .example__picture {
    inline-size: 591px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }
}

.switcher__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    inline-size: 768px;
    margin-inline: auto;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    inline-size: 1440px;
  }
}

.contacts__adress {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .contacts__adress {
    padding-inline: 70px;
  }
}
@media (min-width: 1440px) {
  .contacts__adress {
    position: absolute;
    top: 95px;
    left: 110px;
    inline-size: 565px;
    z-index: 2;
    background-color: #FFFFFF;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__text {
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

.contacts__map {
  position: relative;
}
@media (min-width: 768px) {
  .contacts__map {
    inline-size: 768px;
    margin-inline: auto;
  }
}
@media (min-width: 1440px) {
  .contacts__map {
    inline-size: 1440px;
  }
}

.contacts__img {
  inline-size: 100%;
}

.contacts__pin {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1;
}

.page-footer {
  background-color: #F2F2F2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    inline-size: 768px;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    padding-inline: 30px;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    inline-size: 1440px;
    padding-inline: 110px;
  }
}

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer__copyright {
  font-size: 16px;
  text-decoration: none;
  color: #444444;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}

.main-catalog__wrapper {
  padding: 20px;
}

.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.product__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.product__list {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__button--show-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #444444;
}

.show-more {
  text-align: center;
}

.show-more__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.add-catalog__wrapper {
  padding: 20px;
}

.add-catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-product__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.add-product__list {
  line-height: 1;
  color: #444444;
}

.gift {
  background-color: #68B738;
  background-image: url("../../img/catbag.jpg");
}

.gift__text {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.application__wrapper {
  padding: 20px;
}

.application__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__add {
  text-align: center;
  line-height: 16px;
}

.field__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}

.field__input {
  border: 1px #E7E7E7 solid;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}

.field__input--comment {
  inline-size: 100%;
  text-align: left;
}

.control__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
}/*# sourceMappingURL=style.css.map */
