$font-title: "Oswald", sans-serif;
$font-body: "Arial", sans-serif;

$black: #000000;
$white: #FFFFFF;

$basic_green: #68B738;

$basic_grey: #F2F2F2;
$greyD9: #D9D9D9;
$special_grey: #CDCDCD;
$special_dark_grey: #444444;
$grey222: #222222;
$grey111: #111111;

$greyE7: #E7E7E7;


