.add-catalog {
  padding-block-start: 25px;

  @media (min-width: $tablet-width) {
    padding-block-start: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-block-start: 76px;
  }
}

.add-catalog__title {
  margin-block: 0 34px;
  font-family: $font-title;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-block: 0 80px;
    padding-inline-start: 36px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-inline-start: 0;
  }


  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: 24px;
      left: -30px;
      min-inline-size: 30px;
      block-size: 2px;
      background-color: $basic_green;
    }

    @media (min-width: $desktop-width) {
      left: -110px;
      inline-size: 70px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: 24px;
      right: -30px;
      min-inline-size: 328px;
      block-size: 2px;
      background-color: $basic_green;
    }

    @media (min-width: $desktop-width) {
      right: -110px;
      inline-size: 957px;
    }
  }
}

.add-catalog__block {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
    margin-block-end: 86px;
  }
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    border: 1px $special_grey solid;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

