.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $basic_green;
  color: $white;
  font-family: $font-title;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #5EAA2F;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}