.example {
  padding-block: 25px 40px;
  background-color: #EAEAEA;

  @media (min-width: $tablet-width) {
    padding-block-start: 43px;
    padding-block-end: 54px;
    background-image: linear-gradient(to top, #EAEAEA 462px, #FFFFFF 462px);
  }

  @media (min-width: $desktop-width) {
    padding-block: 0 65px;
  }
}

.example__wrapper { 
  @media (min-width: $desktop-width) {    
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 35px;  
  }
}

.example__info {
  @media (min-width: $desktop-width) {  
    inline-size: 436px;  
    display: flex;
    flex-direction: column;
  }
}

.example__title {
  margin: 0;
  margin-block: 0 40px;
  font-family: $font-title;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-block: 0 63px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-block: 43px 146px;
  }
}

.example__text {
  margin-block-end: 20px;
  color: $special_dark_grey;

  @media (min-width: $tablet-width) {
    margin-block-end: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-block: 0 69px;
  }
}

.example__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.example__stats {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;    
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-inline-end: 70px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 0;
  margin-block-end: 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 42px;
    margin-block-end: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-block-end: 55px;
  }
}

.example__item {
  position: relative;
  text-align: center;
}

.example__number {
  inline-size: 124px;
  block-size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $special_grey solid;
  border-radius: 5%;
  font-family: $font-title;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    inline-size: 162px;
    block-size: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  position: relative;
  top: -12px;
  margin: 0;
  margin-inline: 19px;
  margin-block-end: -12px;
  border: 1px transparent solid;
  background-color: #EAEAEA;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  color: $special_dark_grey;

  @media (min-width: $tablet-width) {
    top: -10px;
    margin-inline: 16px;
    margin-block-end: -10px;
    background-color: $white;
    font-size: 14px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic_grey;
  }
}

.example__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__cost {
  margin-block-end: 40px;
  text-align: center;
  font-family: $font-title;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 11px;
    text-align: right;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 63px;
    margin-block: 0;
    text-align: left;
  }
}



.example__picture {
  @media (min-width: $tablet-width) {    
    padding-inline: 59px 57px;
  } 

  @media (min-width: $desktop-width) {
   margin: 0;   
   padding: 0;
  }
}

.example__history {
   margin-block-end: 15px; 
   
   @media (min-width: $tablet-width) {
    margin-block-end: 25px;
  }

  
}

.example__images {
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {    
    inline-size: 592px;
    block-size: 511px;    
  }
}

.example__img {
  inline-size: 280px;
  block-size: 232px;
  text-align: center;
  display: none;

  @media (min-width: $tablet-width) {    
    inline-size: 592px;
    block-size: 511px;    
  }
}

.example__img--current {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__img--duo {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.example__switcher {
  margin-inline: auto;

  @media (min-width: $tablet-width) {
   padding-inline-start: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-inline-start: 10px;
  }
}

