.form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__group--contacts,
.form__group--comment,
.form__group--more,
.form__submit {
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.form__group--pet {
  padding-block-end: 10px;
  border-bottom: 1px #D9D9D9 solid;

  @media (min-width: $tablet-width) {
    padding-block-end: 52px;
    border: none;
  }
}

.form__group--program {
  margin-block-end: 26px;
  padding-block-end: 0;
  border-bottom: 1px #D9D9D9 solid;

  @media (min-width: $tablet-width) {
    margin-block-end: 75px;
    padding-block-end: 4px;
    padding-inline-start: 28px;
    border: 1px #D9D9D9 solid;
  }
}

.form__group--contacts {
  padding-block-end: 10px;

  @media (min-width: $tablet-width) {
    padding-block-end: 45px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__group--comment {
  padding-block-end: 22px;

  @media (min-width: $tablet-width) {
    padding-block-end: 0;
  }
}

.form__group--comment .field {
  padding-block-start: 38px;

  @media (min-width: $tablet-width) {
    padding-block-start: 76px;
  }
}

.form__group--more .form__title {
  margin-block-end: 12px;

  @media (min-width: $tablet-width) {
    margin-block-end: 32px;
  }
}

.form__title {
  margin-block-end: 35px;
  font-family: $font-title;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-block-end: 76px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-block-end: 72px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  padding-block: 22px 8px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-block: 25px 8px;
  }
}

.form__list--more {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    row-gap: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 221px);
    gap: 104px;
  }
}

.form__item {
  margin-block-end: 12px;
}

.form__submit {
  padding-block: 16px 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 282px;
    gap: 60px;
    margin-block: 16px 19px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 568px 568px;
    gap: 80px;
    margin-block: 27px 29px;
  }
}

.form__button {
  inline-size: 280px;
  block-size: 40px;
  margin-block-end: 21px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    block-size: 52px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    inline-size: 568px;    
  }
}

.form__add {
  margin: 0;
  text-align: center;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-block-start: 15px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-block-start: 17px;
  }
}