.gift {
  position: relative;
  margin-block: 35px;
  background-color: $basic_green;
  background-image: url("../../img/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 280px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-block: 69px 76px;
    background-image: url("../../img/gift-tablet.jpg");
    background-size: 708px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-block: 0;
    background-image: url("../../img/gift-desktop.jpg");
    background-size: 245px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-desktop@2x.jpg");
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: -35px;
    inline-size: 280px;
    block-size: 2px;
    background-color: $special_grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: $basic_green;
    opacity: 0.85;
  }
}

.gift__text {
  position: relative;
  z-index: 2;
  margin: 0;
  padding-block: 187px 43px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-inline-start: 422px;
    padding-block: 71px 69px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-inline-start: 0;
    padding-block: 185px 42px;
    text-align: center;
  }

  &::before {
    position: absolute;
    content: "";
    top: 58px;
    left: 101px;
    inline-size: 78px;
    block-size: 80px;
    background-image: url("../../img/icon-gift.svg");

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 77px;
      inline-size: 80px;
      block-size: 82px;
    }

    @media (min-width: $desktop-width) {
      top: 55px;
      left: 84px;
    }
  }
}