.main-nav {  
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: $font-title;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  background-color: $white;

  @media (min-width: $tablet-width) {
    inline-size: 440px;
    display: flex;
    justify-content: space-between;
    padding-block-start: 18px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    inline-size: 478px;
    padding-block-start: 16px;
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
  }
}

.main-nav__item {
  @media (max-width: $mobile-width-only) {
    position: relative;
    padding-block: 22px 24px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      inline-size: auto;
      min-inline-size: 320px;
      block-size: 1px;
      background-color: #E6E6E6;
    }
  }

  @media (min-width: $tablet-width) {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        bottom: 0;
        inline-size: 100%;
        block-size: 2px;
        background-color: $basic_green;
      }
      @media (min-width: $desktop-width) {

        &::before {          
          background-color: $white;
        }
      }
    }
  } 

  
}

.main-nav__item--active {

  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      inline-size: 100%;
      block-size: 2px;
      background-color: $basic_green;
    }
  }

  @media (min-width: $desktop-width) {

    &::before {
      background-color: $white;
    }
  }
}

.main-nav__link {
  color: inherit;
  text-decoration: none;  
}

.main-nav__link--index {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}