.promo {
  position: relative;
  padding-block-start: 27px;
  text-align: center;
  font-family: $font-title;

  @media (max-width: $mobile-width-only) {
    background-color: $basic_green;
    background-image: url("../../images/promo-background-mobile@1x.jpg"), linear-gradient($basic_green, $basic_green 302px, $white 302px);
    background-position: center top;    
    background-repeat: no-repeat;
    color: $white;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/promo-background-mobile@2x.jpg"), linear-gradient($basic_green, $basic_green 302px, $white 302px);
      background-size: 320px auto;
    }

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      block-size: 302px;
      background-color: $basic_green;
      opacity: 0.85;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {    

    &::before{
      position: absolute;
      content: "";      
      top: -112px;
      bottom: 0;
      left: 50%;
      right: 0;
      background-color: $basic_green;
      background-image: url("../../images/promo-background-desktop@1x.jpg");
      background-repeat: no-repeat;      
      background-position: right 100%;   
      
      @media (min-resolution: 2dppx) {
        background-image: url("../../images/promo-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }    
    
    &::after {
      position: absolute;
      content: "";
      inset: 0;
      top: -112px;
      left: 50%;
      background-color: $basic_green;
      opacity: 0.85;
    }
  }
}


.promo__wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-inline: 90px;
    padding-block: 38px 526px;
    margin-block-end: 0;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 80px 610px;
    padding-block: 84px 185px;
    margin-block-end: 82px;
  }
}

.promo__title {
  margin-block: 0 25px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-block: 0 41px;
    font-size: 60px;
    line-height: 1;
    color: $black;
  }
}

.promo__slogan {
  margin-block: 0 29px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-block-end: 49px;
    font-size: 20px;
    line-height: 1;
    color: $black;
  }
}

.promo__img {
  display: block;
  inline-size: 280px;
  margin-block-end: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    inline-size: 709px;
    block-size: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
    left: calc(50% - 162px);
    inline-size: 552px;
    block-size: 499px;
  }
}

.promo__button {
  inline-size: 280px;
  block-size: 40px;  
  
  @media (min-width: $tablet-width) {
    inline-size: 244px;
    block-size: 54px;
    font-size: 20px;
    line-height: 1;
  }
}


    