.show-more {
  padding-inline: 20px;
  padding-block: 24px;
  border-top: 2px #EBEBEB solid;
  border-bottom: 2px #EBEBEB solid;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-block-start: 81px;
    padding-block: 52px 38px;
    border-top: none;
    border: 2px $basic_grey solid;
  }
}

.show-more__title {
  position: relative;
  margin-block: 0 8px;
  padding-block-start: 53px;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-inline: 70px;
    margin-block: 0 23px;
    padding-block-start: 109px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-inline: 30px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    inline-size: 2px;
    block-size: 30px;
    background-color: #D3D3D3;

    @media (min-width: $tablet-width) {
      block-size: 60px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}

.show-more__text {
  margin-block: 0 21px;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark_grey;

  @media (min-width: $tablet-width) {
    margin-inline: 50px;
    margin-block: 0 87px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-inline: 15px;
  }
}

.show-more__button {
  inline-size: 280px;
  block-size: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: $basic_grey;
  color: $special_dark_grey;

  @media (min-width: $desktop-width) {
    inline-size: 169px;
  }

  @media (min-width: $desktop-width) {
    margin-inline-start: 18px;
  }

  &:hover,
  &:active {
    background-color: #EBEBEB;
  }

  &:active {
    opacity: 0.3;
  }
}