.switcher {
  inline-size: 210px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    inline-size: 592px;
  }
}

.switcher__button {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    inline-size: 70px;
    block-size: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

.switcher__toggles {
  inline-size: 90px;
  block-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 13px 10px;
  margin-block: 8px;
  padding-inline: 6px;
  padding-block: 4px;
  border: 1px $special_grey;
  border-radius: 6px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__toggle {
  inline-size: 36px;
  block-size: 6px;
  border: 1px transparent solid;
  border-radius: 6px;
  background-color: $basic_green;
}

.switcher__toggle--after {
  position: relative;
  left: 36px;
}

.switcher__bar {
  appearance: none;
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
   flex-grow: 1;
  }
}